/*Reset layout Rules*/

:root {
    /*  css variables */
    --brand-color-:#7C69A4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family:  Montserrat, 'Helvetica Neue', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Layout Desktop */ 

.page-container {

    max-width: 100%;
    margin: 0;
    padding: 10px;
}

.navbar {
    padding: 0 5px;
    max-width: 100%;
}

/*HEADER*/

.header .yellow-title {

   color: #F88400;
   font-family: 'Nerko One', cursive ;
   font-size: 60px ;
   
}


/*utilities rules*/


/* Debug Rules */ 

.debug .page-container {
    border: 2px solid violet;
    padding: 10px;
}

.debug .navbar {
    border: 1px solid;
    padding: 0 5px;
}

/* Responsive Layout */ 

/*tablet layout*/

@media (max-width: 991.99px) {

    .header .navbar {

        padding: 10px 20px;
    }
}

@media (max-width: 767.99px ) {

    .header .navbar {

        display: flex;
        justify-content: center;
    }
}
 