/*Reset layout Rules*/

:root {
    /*  css variables */
    --brand-color-:#7C69A4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family:  Montserrat, 'Helvetica Neue', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Layout Desktop */ 

.page-container {

    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.row {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.col-8 {
    width: 66%;
    padding: 10px;
}

.navbar {
    padding: 0 5px;
    max-width: 100%;
}


.footer {
    background-color: #7C69A4;
    color:white;
    padding: 20px;
}
/*HEADER*/

.header .yellow-title {

   color: #F88400;
   font-family: 'Nerko One', cursive ;
   font-size: 60px ;
   
}

/*  Hero*/ 

.hero {
    margin: 20px 0;
}

/*utilities rules*/
.page-bg {
    background-color: whitesmoke;
}

/* Debug Rules */ 

.debug .page-container {
    border: 2px solid violet;
    padding: 10px;
}

.debug .navbar {
    border: 1px solid;
    padding: 0 5px;
}

.debug .container {
    border: 2px solid rgb(165, 53, 165);
}

.dubug .row {
    border: 2px solid red;
    padding: 10px;
}

.debug .row > * {
    border: 2px solid blue ;
}

.debug .card {
   border: 2px solid gray;
}

/* Responsive Layout */ 

/*tablet layout*/

@media (max-width: 991.99px) {

    .header .navbar {

        padding: 10px 20px;
    }
}

/* mobile Layout*/

@media (max-width: 767.99px ) {

    .header .navbar {

        display: flex;
        justify-content: center;
    }
}
 